<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP53_via_FastCGI" />
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP55_via_FastCGI" />
            <add name="PHP55_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php-8.3.12-Win32-vs16-x64\php-cgi.exe" resourceType="Either" />
            <add name="PHP_via_FastCGI1" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php-8.3.12-Win32-vs16-x64\php-cgi.exe" resourceType="Either" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php-8.3.12-Win32-vs16-x64\php-cgi.exe" resourceType="Either" />
            <add name="PHP53_via_FastCGI" path="*.php" verb="GET,HEAD,POST,PUT" modules="FastCgiModule" scriptProcessor="C:\php-8.3.12-Win32-vs16-x64\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
